[defaults]
deprecation_warnings=False
forks = 5
timeout = 30
poll_interval = 5
internal_poll_interval = 0.05
#display_skipped_hosts = False
host_key_checking = False
retry_files_enabled = False
accept_hostkey = True
hash_behaviour = merge
roles_path = external
gathering = implicit
# This only affects the gathering done by a play's gather_facts directive,
# by default gathering retrieves all facts subsets
# all - gather all subsets
# network - gather min and network facts
# hardware - gather hardware facts (longest facts to retrieve)
# virtual - gather min and virtual facts
# facter - import facts from facter
# ohai - import facts from ohai
# You can combine them using comma (ex: network,virtual)
# You can negate them using ! (ex: !hardware,!facter,!ohai)
# A minimal set of facts is always gathered.
# hardware facts need from crab....
gather_subset = all,!facter,!virtual,!ohai
# Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks = True
force_handlers = yes

#, timer, profile_tasks,junit_report
stdout_callback = yaml

force_color = 1

# format of string {{ ansible_managed }} available within Jinja2
# templates indicates to users editing templates files will be replaced.
# replacing {file}, {host} and {uid} and strftime codes with proper values.
ansible_managed = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid} on {host}
# {file}, {host}, {uid}, and the timestamp can all interfere with idempotence
# in some situations so the default is a static string:
#ansible_managed = Ansible managed
interpreter_python = /usr/bin/python3

[privilege_escalation]
# Add -S flag to use sudo flags with pipelining https://github.com/ansible/ansible/issues/15297
become_flags = -H -i -S

[colors]
verbose = bright blue
#highlight = white
#warn = bright purple
#error = red
#debug = dark gray
#deprecate = purple
#skip = cyan
#unreachable = red
# ok = normal
# green
#changed = normal
# yellow
#diff_add = green
#diff_remove = red
#diff_lines = cyan

[ssh_connection]
# Number of times to retry an SSH connection to a host, in case of UNREACHABLE.
# For each retry attempt, there is an exponential backoff,
# so after the first attempt there is 1s wait, then 2s, 4s etc. up to 30s (max).
retries = 3

# ssh arguments to use
# Leaving off ControlPersist will result in poor performance, so use
# paramiko on older platforms rather than removing it, -C controls compression use
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null

# Enabling pipelining reduces the number of SSH operations required to
# execute a module on the remote server. This can result in a significant
# performance improvement when enabled, however when using "sudo:" you must
# first disable 'requiretty' in /etc/sudoers
#
# By default, this option is disabled to preserve compatibility with
# sudoers configurations that have requiretty (the default on many distros).
#
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
